USE [master]
GO
/****** Object:  Database [Ticketmaster]    Script Date: 03/03/2018 09:21:43 a.m. ******/
CREATE DATABASE [Ticketmaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ticketmaster', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ticketmaster.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ticketmaster_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Ticketmaster_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ticketmaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ticketmaster]
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Arena](
	[Arena] [int] NOT NULL,
	[Direccion] [varchar](50) NULL,
	[nombreDeArena] [varchar](50) NULL,
 CONSTRAINT [PK_Arena] PRIMARY KEY CLUSTERED 
(
	[Arena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artistas](
	[Artista] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Artistas] PRIMARY KEY CLUSTERED 
(
	[Artista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletos](
	[Boleto] [int] NOT NULL,
	[Evento] [int] NULL,
	[Lugar] [geography] NULL,
 CONSTRAINT [PK_Boletos] PRIMARY KEY CLUSTERED 
(
	[Boleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalle venta]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle venta](
	[Boleto] [int] NOT NULL,
	[Venta] [int] NULL,
	[Lugar] [int] NULL,
 CONSTRAINT [PK_detalle venta] PRIMARY KEY CLUSTERED 
(
	[Boleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Evento]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Evento](
	[Evento] [int] NOT NULL,
	[Artista] [int] NOT NULL,
	[fecha] [time](7) NOT NULL,
	[nombreDeEvento] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[Evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lugar]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lugar](
	[Lugar] [int] NOT NULL,
	[numeroDeAsiento] [int] NULL,
	[Zona] [varchar](50) NULL,
 CONSTRAINT [PK_Lugar] PRIMARY KEY CLUSTERED 
(
	[Lugar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 03/03/2018 09:21:43 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venta](
	[venta] [int] NOT NULL,
	[Precio] [money] NULL,
	[metodoDePago] [varchar](50) NULL,
	[fechaDeVenta] [date] NULL,
	[vendedor] [varchar](50) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [FK_Boletos_Evento] FOREIGN KEY([Evento])
REFERENCES [dbo].[Evento] ([Evento])
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [FK_Boletos_Evento]
GO
ALTER TABLE [dbo].[detalle venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle venta_Venta] FOREIGN KEY([Venta])
REFERENCES [dbo].[Venta] ([venta])
GO
ALTER TABLE [dbo].[detalle venta] CHECK CONSTRAINT [FK_detalle venta_Venta]
GO
ALTER TABLE [dbo].[detalle venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle venta_Venta1] FOREIGN KEY([Venta])
REFERENCES [dbo].[Venta] ([venta])
GO
ALTER TABLE [dbo].[detalle venta] CHECK CONSTRAINT [FK_detalle venta_Venta1]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Arena] FOREIGN KEY([Evento])
REFERENCES [dbo].[Arena] ([Arena])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Arena]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Artistas] FOREIGN KEY([Artista])
REFERENCES [dbo].[Artistas] ([Artista])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Artistas]
GO
USE [master]
GO
